* {
  padding: 0;
  margin: 0;
}
//colors
// red: rgb(181,48,43);
// orange: rgb(231,116,49);
// gray: rgb(51, 51, 51)
// light blue: rgb(85,163,147);
// dark blue: rgb(75,108,87);

//font
// font-family: "silver-streak-variable",sans-serif;
// font-variation-settings: 'wdth' 100, 'wght' 400;

body {
  background-color: black;
  color: white;
}

/////header start
header {
  background-image: linear-gradient(rgb(231, 116, 49), rgb(181, 48, 43));
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: "silver-streak-variable", sans-serif;
  font-size: 2em;
}
nav {
  background-color: rgba(181,48,43,0.8);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  padding: 10px 0;
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 20px;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
/////header end

/////home page start

///// home page end

/////product page start
#products {
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  .product {
    margin: 20px;
    display: inline-block;
    text-align: left;
    width: 30%;
    vertical-align: top;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    h2 {
      font-size: 1.8em;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
    p {
      font-size: 1.1em;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
    img:hover {
      cursor: pointer;
    }
  }
}
/////product page end

/////about page start
#about {
  height: 300%;
  justify-content: center;
  align-items: center;
  margin: 15px;
  #title{
    height: 200px;
  h2 {
    font-family: "silver-streak-variable", sans-serif;
    font-size: 3em;
    text-align: center;
    background: linear-gradient(to right, rgb(231,116,49), rgb(181,48,43));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 115px;
    
  }
}
  h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 2.2em;
    padding: 10px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 10px;
  }
  #intro {
    width: 800px;
    text-align: center;
    margin: auto;
    padding: 0px 0px 20px 0px;
    font-size: 1.5em;
  }
  #about-content {
    margin: 0px 0px 100px 0px;
    .about-para1{
      width: 80%;
      margin: auto;
      padding: 100px 0px 100px 0px;
      h3{
        text-align: center;
      }
    }
    .about-para2{
      float: left;
      width: 33.33%;
      padding: 20px;
    }
    #about-content::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  

  #quote {
    font-family: "silver-streak-variable", sans-serif;
    font-size: 3em;
    text-align: center;
    background: linear-gradient(to right, rgb(231,116,49), rgb(181,48,43));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 100px 0px 150px 0px;
  }
  
}


/////about page end

/////contact page start
#contact {
  padding-bottom: 150px;
  h2 {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 2em;
  }
  p {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    padding: 10px 0px 40px 0px;
  }
  form {
    max-width: 400px;
    margin: auto;
    //background: rgba(51, 51, 51, 0.6);
    background-image: linear-gradient(rgb(181,48,43),rgb(231,116,49));
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    .form-group {
      margin-bottom: 20px;
      label {
        font-weight: bold;
        color: rgb(255, 255, 255);
      }
      .form-group::after {
        content: "";
        display: table;
        clear: both;
      }
      .form-group label,
      .form-group input,
      .form-group textarea {
        float: left;
        width: 100%;
      }
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: rgb(181, 48, 43);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    input[type="submit"]:hover {
      background-color: rgb(181, 48, 43);
    }
  }
}
/////contact page end

/////footer start
footer {
  background-color: rgba(0, 0, 0,0.8);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  img {
    width: 50px;
    margin: 0px 0px 0px 20px;
  }
  p {
    margin: 20px 20px 0px 0px;
  }
}
/////footer end
